@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    background: #282828;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 6px 0;
}

.logo__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.nav__list {
    column-gap: 25px;
    display: flex;
}

.nav__item {
    color: #fff;
}

.header__main {
    background: url(../images/Header.png) no-repeat center /cover;
    min-height: 700px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 38px;
}

.title {
    font-size: 100px;
    font-weight: 600;
}

.but::after {
    content: url(../images/icons/Vector.svg);
    padding-left: 11px;
}

.but {
    padding: 13px 14px;
    color: #171718;
    font-size: 20px;
    background: #fff;
    text-transform: uppercase;
    border-radius: 10px;
}

.main {
    background: #151515;
}

.content {
    display: flex;
    color: #fff;
    align-items: center;
    column-gap: 30px;
}

.content__txt {
    font-size: 22px;
}

.content__img {
    padding: 30px 0 50px 0;
    width: 100%;
}

.airpods {
    display: flex;
    padding: 50px 0;
    align-items: center;
    color: #fff;
}

.hr1 {
    max-width: 61px;
    width: 100%;
    background: #C4C4C4;
}

.hr2 {
    max-width: 61px;
    width: 100%;
    background: #151515;
}

.airpods__txt {
    padding-right: 14px;
    text-align: right;
    font-weight: 700;
    font-size: 20px;
}

.airpods__img {
    padding: 0 14px;
}

.airpods__txt2 {
    padding-left: 11px;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
}

.blocks {
    display: flex;
    justify-content: space-between;
}

.block {
    max-width: 254px;
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 6px;
}

.block__title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}

.block__txt {
    padding: 10px 0 20px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.block__but {
    color: #fff;
    background: #151515;
    padding: 7px 56px;
    font-size: 16px;
    font-weight: 700;
}

.footer {
    background: #282828;
    box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.25);
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo{
    padding: 81px 0;
}

.footer__items{
    display: flex;
    column-gap: 30px;
}

.footer__item{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.footer__imgs{
    column-gap: 30px;
    display: flex;
}